-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: FlightBookingDB
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `airliner`
--

DROP TABLE IF EXISTS `airliner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `airliner` (
  `Airln_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Airln_Name` varchar(100) NOT NULL,
  `Airln_Code` varchar(5) NOT NULL,
  `Airln_Country` varchar(80) DEFAULT NULL,
  `Airln_Contact` varchar(20) DEFAULT NULL,
  `Airln_Email` varchar(100) DEFAULT NULL,
  `Airln_Status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  PRIMARY KEY (`Airln_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `airliner`
--

LOCK TABLES `airliner` WRITE;
/*!40000 ALTER TABLE `airliner` DISABLE KEYS */;
INSERT INTO `airliner` VALUES (1,'Philippine Airlines','PR','Philippines','+63 2 8855 8888','reservations@philippineairlines.com','ACTIVE'),(2,'Cebu Pacific','5J','Philippines','+63 2 8702 0888','support@cebupacificair.com','ACTIVE'),(3,'Singapore Airlines','SQ','Singapore','+65 6223 8888','customercare@singaporeair.com','ACTIVE'),(4,'Emirates','EK','UAE','+971 600555555','contactus@emirates.com','ACTIVE'),(5,'Cathay Pacific','CX','Hong Kong','+852 2747 1888','customerrelations@cathaypacific.com','ACTIVE');
/*!40000 ALTER TABLE `airliner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking` (
  `Book_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Book_UserID` int(11) NOT NULL,
  `Book_Date` datetime DEFAULT current_timestamp(),
  `Book_Status` enum('PENDING','CONFIRMED','CANCELLED') DEFAULT 'PENDING',
  `Book_Total` decimal(10,2) NOT NULL,
  `Book_Pay` enum('PAID','UNPAID','REFUNDED') DEFAULT 'UNPAID',
  `Book_Confirm` varchar(20) NOT NULL,
  `Book_PromoID` int(11) DEFAULT NULL,
  PRIMARY KEY (`Book_ID`),
  UNIQUE KEY `Book_Confirm` (`Book_Confirm`),
  KEY `Book_UserID` (`Book_UserID`),
  KEY `Book_PromoID` (`Book_PromoID`),
  CONSTRAINT `booking_ibfk_1` FOREIGN KEY (`Book_UserID`) REFERENCES `user` (`User_ID`),
  CONSTRAINT `booking_ibfk_2` FOREIGN KEY (`Book_PromoID`) REFERENCES `promotion` (`Promo_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
INSERT INTO `booking` VALUES (1,3,'2026-04-27 15:23:06','CANCELLED',4700.00,'REFUNDED','TRDA6A87B8',NULL),(2,3,'2026-04-27 21:56:47','CANCELLED',4700.00,'REFUNDED','TRA455ECD1',NULL),(3,3,'2026-04-28 09:16:26','CONFIRMED',15400.00,'PAID','TR49163DAD',NULL),(4,3,'2026-04-28 09:17:21','CONFIRMED',40000.00,'PAID','TR58A6DF12',NULL),(5,3,'2026-04-28 09:53:29','CONFIRMED',9400.00,'PAID','TRD21F06CF',NULL),(6,3,'2026-04-28 16:23:34','CONFIRMED',2200.00,'PAID','TR94CE5EC5',NULL);
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookingdetails`
--

DROP TABLE IF EXISTS `bookingdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookingdetails` (
  `Bokde_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Bokde_BookID` int(11) NOT NULL,
  `Bokde_FlghtID` int(11) NOT NULL,
  `Bokde_Passenger` varchar(100) NOT NULL,
  `Bokde_SeatClass` enum('ECONOMY','BUSINESS','FIRST') DEFAULT 'ECONOMY',
  `Bokde_SeatNo` varchar(10) DEFAULT NULL,
  `Bokde_Ticket` decimal(10,2) NOT NULL,
  PRIMARY KEY (`Bokde_ID`),
  KEY `Bokde_BookID` (`Bokde_BookID`),
  KEY `Bokde_FlghtID` (`Bokde_FlghtID`),
  CONSTRAINT `bookingdetails_ibfk_1` FOREIGN KEY (`Bokde_BookID`) REFERENCES `booking` (`Book_ID`),
  CONSTRAINT `bookingdetails_ibfk_2` FOREIGN KEY (`Bokde_FlghtID`) REFERENCES `flight` (`Flght_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookingdetails`
--

LOCK TABLES `bookingdetails` WRITE;
/*!40000 ALTER TABLE `bookingdetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookingdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flight`
--

DROP TABLE IF EXISTS `flight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flight` (
  `Flght_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Flght_AirlnID` int(11) NOT NULL,
  `Flght_No` varchar(10) NOT NULL,
  `Flght_Depart` char(3) NOT NULL,
  `Flght_Arrival` char(3) NOT NULL,
  `Flght_DepartDate` datetime NOT NULL,
  `Flght_ArriveDate` datetime NOT NULL,
  `Flght_SeatAvail` int(11) NOT NULL DEFAULT 180,
  `Flght_Fare` decimal(10,2) NOT NULL,
  `Flght_TotalSeats` int(11) NOT NULL DEFAULT 180,
  `Flght_Status` enum('SCHEDULED','CANCELLED','COMPLETED') DEFAULT 'SCHEDULED',
  PRIMARY KEY (`Flght_ID`),
  KEY `Flght_AirlnID` (`Flght_AirlnID`),
  CONSTRAINT `flight_ibfk_1` FOREIGN KEY (`Flght_AirlnID`) REFERENCES `airliner` (`Airln_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=336 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight`
--

LOCK TABLES `flight` WRITE;
/*!40000 ALTER TABLE `flight` DISABLE KEYS */;
/*!40000 ALTER TABLE `flight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment` (
  `Paymt_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Paymt_BookID` int(11) NOT NULL,
  `Paymt_Method` varchar(50) NOT NULL,
  `Paymt_Date` datetime DEFAULT current_timestamp(),
  `Paymt_Amt` decimal(10,2) NOT NULL,
  `Paymt_Status` enum('SUCCESS','FAILED','REFUNDED') DEFAULT 'SUCCESS',
  `Paymt_Transaction` varchar(50) NOT NULL,
  PRIMARY KEY (`Paymt_ID`),
  KEY `Paymt_BookID` (`Paymt_BookID`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`Paymt_BookID`) REFERENCES `booking` (`Book_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
INSERT INTO `payment` VALUES (1,1,'Credit Card','2026-04-27 15:23:06',4700.00,'REFUNDED','TXN66B557EFCD'),(2,2,'GCash','2026-04-27 21:56:47',4700.00,'REFUNDED','TXN7AD69A7CD7'),(3,3,'Credit Card','2026-04-28 09:16:26',15400.00,'SUCCESS','TXN0386ACCCDE'),(4,4,'Credit Card','2026-04-28 09:17:21',40000.00,'SUCCESS','TXN245462CB28'),(5,5,'Credit Card','2026-04-28 09:53:29',9400.00,'SUCCESS','TXNC8430B1C57'),(6,6,'Credit Card','2026-04-28 16:23:34',2200.00,'SUCCESS','TXNB4AAE91088');
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotion`
--

DROP TABLE IF EXISTS `promotion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `promotion` (
  `Promo_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Promo_Code` varchar(20) NOT NULL,
  `Promo_DiscountType` enum('PERCENTAGE','FIXED') NOT NULL,
  `Promo_Value` decimal(10,2) NOT NULL,
  `Promo_ValidFrom` datetime NOT NULL,
  `Promo_ValidTo` datetime NOT NULL,
  `Promo_Usage` int(11) DEFAULT 0,
  PRIMARY KEY (`Promo_ID`),
  UNIQUE KEY `Promo_Code` (`Promo_Code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotion`
--

LOCK TABLES `promotion` WRITE;
/*!40000 ALTER TABLE `promotion` DISABLE KEYS */;
INSERT INTO `promotion` VALUES (1,'TRIP10','PERCENTAGE',10.00,'2026-01-01 00:00:00','2026-12-31 23:59:59',0),(2,'SUMMER500','FIXED',500.00,'2026-04-27 00:00:00','2026-05-30 23:59:59',0),(3,'FLYPH20','PERCENTAGE',20.00,'2026-04-27 00:00:00','2026-05-30 23:59:59',0);
/*!40000 ALTER TABLE `promotion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review` (
  `Reviw_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Reviw_UserID` int(11) NOT NULL,
  `Reviw_BookID` int(11) NOT NULL,
  `Reviw_Rate` tinyint(4) NOT NULL,
  `Reviw_Comment` text DEFAULT NULL,
  `Reviw_Date` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`Reviw_ID`),
  KEY `Reviw_UserID` (`Reviw_UserID`),
  KEY `Reviw_BookID` (`Reviw_BookID`),
  CONSTRAINT `review_ibfk_1` FOREIGN KEY (`Reviw_UserID`) REFERENCES `user` (`User_ID`),
  CONSTRAINT `review_ibfk_2` FOREIGN KEY (`Reviw_BookID`) REFERENCES `booking` (`Book_ID`),
  CONSTRAINT `chk_rate` CHECK (`Reviw_Rate` between 1 and 5)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supportticket`
--

DROP TABLE IF EXISTS `supportticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supportticket` (
  `Tickt_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Tickt_UserID` int(11) NOT NULL,
  `Tickt_BookID` int(11) DEFAULT NULL,
  `Tickt_IssueType` varchar(80) NOT NULL,
  `Tickt_IssueDescription` text DEFAULT NULL,
  `Tickt_Status` enum('OPEN','IN_PROGRESS','RESOLVED','CLOSED') DEFAULT 'OPEN',
  `Tickt_CreatedDate` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`Tickt_ID`),
  KEY `Tickt_UserID` (`Tickt_UserID`),
  KEY `Tickt_BookID` (`Tickt_BookID`),
  CONSTRAINT `supportticket_ibfk_1` FOREIGN KEY (`Tickt_UserID`) REFERENCES `user` (`User_ID`),
  CONSTRAINT `supportticket_ibfk_2` FOREIGN KEY (`Tickt_BookID`) REFERENCES `booking` (`Book_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supportticket`
--

LOCK TABLES `supportticket` WRITE;
/*!40000 ALTER TABLE `supportticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `supportticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `User_ID` int(11) NOT NULL AUTO_INCREMENT,
  `User_Name` varchar(100) NOT NULL,
  `User_Email` varchar(100) NOT NULL,
  `User_Password` varchar(255) NOT NULL,
  `User_PhoneNo` varchar(20) DEFAULT NULL,
  `User_Nationality` varchar(50) DEFAULT NULL,
  `User_DOB` date DEFAULT NULL,
  `User_Loyalty` int(11) DEFAULT 0,
  `User_Status` enum('ACTIVE','SUSPENDED') DEFAULT 'ACTIVE',
  `User_Registration` datetime DEFAULT current_timestamp(),
  `User_Role` enum('user','admin') DEFAULT 'user',
  PRIMARY KEY (`User_ID`),
  UNIQUE KEY `User_Email` (`User_Email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-10 20:25:08
